body {
  display: flex;
  justify-content: center;
}

#app {
  image-rendering: pixelated;
  margin: 0 50px;
}

.score {
  width: 100px;
  height: 50px;
  color: #000;
  font-size: 26px;
  margin-right: 50px;
}